.header {
  font-size: 0.36rem;
  position: fixed;
  width: 100%;
  background: #ffffff;
  height: .88rem;
  line-height: .88rem;
  padding: 0 4% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  z-index: 999;
}
.header0 {
  font-size: 0.36rem;
  position: fixed;
  width: 100%;
  background: #ffffff;
  height: .88rem;
  line-height: .88rem;
  padding: 0 4% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  z-index: 999;
}
.head{
  font-size: 0.36rem;
  width: 100%;
  padding: 0 4% 0;
  background: #ffffff;
  height: .88rem;
  line-height: .88rem;
  top: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}
.head img, .headerUser img,.header0 img{
  width: 0.4rem;
}
.head span,.headerUser span{
  color: #49BBFF;
  font-size: 0.28rem;
}
.headerUser {
  font-size: 0.36rem;
  position: fixed;
  width: 100%;
  background: #ffffff;
  height: .88rem;
  line-height: .88rem;
  padding: 0 4% 0;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 999;
}
.all{
  word-break:break-all;
  font-family: "PingFangSC";
  background-color: #fff;
  width: 92%;
  margin: 0 auto;
}
/*活动、资讯滚动之前透明头部*/
.header1{
  background-color: rgba(0,0,0,0.1);
}
/*活动、资讯滚动之后不透明头部*/
.header2{
  background: #ffffff;
}
.header img{
  width: 0.4rem;
}
/*头部白色文字*/
.header-title-fff{
  color: #222222;
  font-size: 0.36rem;
}
/*资讯详情*/
.wrap_92{
  width: 92%;
  margin: 0 auto;
}
.title_info{
  font-size: 0.36rem;
  line-height: 0.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
  color: #222222;
}
.date_info{
  font-size: 0.24rem;
  line-height: 0.24rem;
  margin-bottom: 0.32rem;
  color: #888888;
  float: right;
}
.content{
  font-family: PingFangSC-Regular;
  font-size: 0.28rem !important;
  color: #666666;
  letter-spacing: -0.29px;
  text-align: justify;
  line-height: 0.4rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.2rem;
}
.operation_content{
  margin-bottom: 1.2rem;
}
.operation_content div:nth-child(1){
  height: 0.4rem;width: 50%;line-height: 0.4rem;float: left;
}
.operation_content div:nth-child(2){
  height: 0.4rem;width: 50%;line-height: 0.4rem;float: right;text-align: right;
}
/*资讯评论*/
.comment{
}
.comment_wrap{
  width: 100%;
  clear: both;
  margin-top: 0.4rem;
}
.all_comment{
  font-size: 0.32rem;
  color: #555555;
  line-height: 0.32rem;
  margin-bottom: 0.4rem;
}
.comment_userinfo{
  height: 1rem;
  width: 100%;
}
.comment_userinfo .user_head{
  width: 12%;
  float: left;
}
.comment_userinfo .user_head img,.head_72{
  width: 0.72rem;
  height: 0.72rem;
  -webkit-border-radius: 0.36rem;
  -moz-border-radius: 0.36rem;
  border-radius: 0.36rem;
}
.head_4{
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}
.comment_userinfo .user_info{
  float: right;
  width: 88%;
}
/*.comment_userinfo .user_info div{
  height: 0.36rem;
}*/
.comment_userinfo .user_info .user_name{
  font-size: 0.32rem;
  color: #222222;
  line-height: 0.36rem;
  width: 70%;
  float: left;
}
.comment_userinfo .user_info .user_date{
  font-size: 0.24rem;
  color: #888888;
  line-height: 0.5rem;
  width: 100%;
  float: left;
}
.operation_comment{
  float: right;
  text-align: right;
}
.operation_comment div{
  height: 0.4rem;width: 100%;line-height: 0.4rem;
}
.operation_comment span{
  font-size: 0.28rem;
  color: #CCCCCC;
  line-height: 0.4rem;
  height: 1rem;
}
.comment_content{
  width: 88%;
  float: right;
  margin-bottom: 0.4rem;
}
.comment_content p:nth-child(1){
  font-size: 0.28rem;
  color: #555555;
  letter-spacing: 0;
  line-height: 0.4rem;
}
.comment_msg{
  background: #f5f5f5;
  border-radius: 0.08rem;
  margin-top: 0.2rem;
  padding: 0.22rem 0.2rem;
}
.commentB{
  color: #555555;
  font-size: 0.28rem;
  text-indent: 12%;
  padding-bottom: 0.4rem;
  border-bottom: 0.02rem solid #f1f1f1;
}
.commentB_back{
  width: 88%;float: right;padding-bottom: 0.2rem;
}
.commentB_msg{
  border-bottom: 0.02rem solid #f1f1f1;padding: 0.3rem 0;
}
/*公共样式*/
.mr_006{
  margin-right: 0.06rem;
}
.mr_16{
  margin-right: 0.16rem;
}
.w_04{
  width: 0.4rem;
}
.num_28{
  color: #cccccc;
  font-size: 0.28rem;
}
.v_m{
  vertical-align: middle;
}
.interval_002{
  height: 0.02rem;background: #f1f1f1;clear: both
}
.font_1{
  color: #888888;font-size: 0.24rem;
}
.font_2{
  color: #555555;font-size: 0.28rem;margin-left: 0.4rem;
}
.font_3{
  font-size: 0.28rem;
  color: #49BBFF;
  text-align: center;
  line-height: 0.28rem;
}
.font_36{
  font-size: 0.36rem;
  color: #ffffff;
}
.font_4{
  color: #555555;font-size: 0.28rem;
}
.font_5{
  color: #555555;font-size: 0.32rem;
}
.font_6{
  color: #888888;font-size: 0.32rem;
}
.top_14{
  margin-top: 1.4rem;width: 100%;
}
.mb_16{
  margin-bottom: 0.16rem;
}
.num3{
  padding: 0.68rem 0.56rem 0.34rem 0.56rem;display: flex;display: flex;
}
.mytopbottom{
  padding: 0.3rem;
  width: 100%;
  margin-top: 0.38rem;
}
.mytopbottom>div{
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.mytopbottom>div>span{
  font-size: 0.36rem;
}


.font_24fff{
  font-size: 0.24rem;
  color: #FFFFFF;
  line-height: 0.28rem;
}
.blue_28{
  color: #49BBFF;
  font-size: 0.28rem;
}
.ml_2{
  margin-left: 0.2rem;
}
.w_28{
  width: 0.28rem;
}
.mr_32{
  margin-right: 0.32rem;
}
.sign_head{
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 25px;
  margin-left: -0.2rem;
  float: left;
}
.flag_word{
  width: 92%;
  margin: 0 auto;
  font-size: 0.32rem;
  color: #555555;
  letter-spacing: 0;
  line-height: 0.32rem;
  margin-bottom: 0.32rem;
  border-top: 0.02rem solid #F5F5F5;
  padding-top: 0.4rem;
}
/*评论输入框相关样式*/
.allHideComment{
  font-family: PingFangSC-Regular;
  font-size: 0.28rem;
  color: #666666;
  height: 0.6rem;
  line-height: 0.6rem;
}
#comment{
  width: 80%;
  /*min-height: 0.52rem;
  max-height:0.86rem;*/
  height: 0.52rem;
  border-radius: 0.08rem;
  margin-bottom: 0;
  font-size: 0.24rem;
  background: #ffffff;
  padding: 0.14rem;
  overflow-x: auto;
  box-sizing: border-box;
  color: #888888;
  border: 1px solid #CCCCCC;
}
.send{
  font-size: 0.28rem;
  color: #49BBFF;
  text-align: center;
  line-height: 0.28rem;
  margin-left: 0.2rem;
}
.myInput{
  width: 100%;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  z-index: 1001;
  height: 0.94rem;
}
#commentBg{
  display: none;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index:1;
  opacity: 0.2;
}
/*此刻详情*/
.contentIconInfo{
  height: 0.4rem;width: 100%;line-height: 0.4rem;
  margin-top: 0.22rem;
  margin-bottom: 0.4rem;
}
.contentIconInfo img{
  vertical-align: middle;width: 0.4rem;margin-right: 0.16rem;
}
.contentIconInfo span{
  font-size: 0.28rem;color: #CCCCCC;
}
.f_right{
  float: right;
}
.f_left{
  float: left;
}
.guanzhu{
  width: 25%;float: right;text-align: center;
}
.guanzhu img{
  vertical-align: middle;width:0.36rem;height: 0.36rem;float: left;
}
.now_detail{
  width: 100%;overflow: hidden;color: #555555;font-size: 0.24rem;line-height: 0.4rem;margin: auto;padding: 0.1rem;
}
.now_detailPic{
  width: 100%;overflow: hidden;border-radius: 0.16rem;margin-bottom: 0.16rem;
}
.pic1{
  border-radius: 0.1rem;width: 100%;height:3.2rem;object-fit:cover;
}
.pic2_1{
  border-radius: 0.1rem;width: 49%;height:3.2rem;float: left; border-radius: 0.1rem 0 0 0.1rem;object-fit:cover;
}
.pic2_2{
  border-radius: 0.1rem;width: 49%;height:3.2rem;float: left; border-radius: 0 0.1rem 0.1rem 0;object-fit:cover;
}
.pic3_1{
  border-radius: 0.1rem;width: 60%;height:3.2rem;float: left; border-radius: 0.1rem 0 0 0.1rem;object-fit:cover;
}
.pic3_2{
  border-radius: 0.1rem;width: 38%;height:1.55rem;float: left; border-radius: 0 0.1rem 0 0;object-fit:cover;
  margin-bottom: 0.1rem;
}
.pic3_3{
  border-radius: 0.1rem;width: 38%;height:1.55rem;float: left; border-radius: 0 0 0.1rem 0;object-fit:cover;
}
.pics{
  width: 100%; margin-top: 0.1rem;margin-bottom: 0.2rem;
  height: 3.2rem;
}
.mr_2{
  margin-right: 2%;
}
.pt_4{
  padding-top: 0.4rem;
}
.shequMore_box{
  position: relative;clear: both;height: 2.1rem;
}
.shequNum{
  color: #ffffff;
  right: 0;
  bottom: -1.1rem;
  position: absolute;
  background: #000000;
  z-index: 3;
  width: 0.4rem;
  height: 0.4rem;
  opacity: 0.2;
  text-align: center;
  -webkit-border-radius: 0 0 0.8rem 0;
  -moz-border-radius: 0 0 0.8rem 0;
  border-radius: 0 0 0.8rem 0;
}
/*活动详情*/
.contentActTitle{
  font-size: 0.36rem;
  color: #333333;
  letter-spacing: 1px;
  line-height: 0.36rem;
  margin-top: 0.4rem;
  margin-bottom: 0.24rem;
}
.duiqiDiv{
  height: 0.28rem;
  width: 100%;
  line-height: 0.28rem;
}
.sign_btn{
  height: 0.88rem;
  background: #49BBFF;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 0.32rem;
  color: #F5F5F5;
  letter-spacing: 1px;
  line-height: 0.88rem;
  bottom: 0;
}
.tosign_btn{
  height: 0.88rem;
  background: #cccccc;
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 0.32rem;
  color: #F5F5F5;
  letter-spacing: 1px;
  line-height: 0.88rem;
  bottom: 0;
}
.shaitu{
  float: right;text-align: right;
}
.shaitu img{
  vertical-align: middle;
  width:0.4rem;
  height: 0.4rem;
  float: left;
  margin-right: 0.16rem;
}
.picTitle{
  font-size: 0.28rem;
  color: #555555;
  letter-spacing: 0;
  line-height: 0.4rem;
}
.shaitu1{
  width: 100%;
  height: 3.12rem;
  border-radius: 0.08rem;
  margin-top: 0.16rem;
}
.shaitu2_1{
  border-radius: 0.1rem;width: 49%;height:3.2rem;float: left; border-radius: 0.08rem;object-fit:cover;margin-top: 0.16rem;
}
.shaitu2_2{
  border-radius: 0.1rem;width: 49%;height:3.2rem;float: left; border-radius: 0.08rem;object-fit:cover;margin-top: 0.16rem;
}
.shaitu3_1{
  border-radius: 0.1rem;width: 32%;height:2.1rem;float: left; border-radius: 0.08rem;object-fit:cover;margin-top: 0.16rem;
}
.shaitu3_2{
  border-radius: 0.1rem;width: 32%;height:2.1rem;float: left; border-radius: 0.08rem;object-fit:cover;margin-top: 0.16rem;
}
.shaitu3_3{
  border-radius: 0.1rem;width: 32%;height:2.1rem;float: left; border-radius: 0.08rem;object-fit:cover;margin-top: 0.16rem;
}
.shaituNum{
  color: #ffffff;
  right: 0.02rem;
  bottom: -0.16rem;
  position: absolute;
  background: #000000;
  z-index: 3;
  width: 0.4rem;
  height: 0.4rem;
  opacity: 0.2;
  text-align: center;
}
.shaitu2_box{
  clear: both;height: 3.2rem;
}
.shaitu3_box{
  clear: both;height: 2.1rem;
}
.shaituMore_box{
  position: relative;clear: both;height: 2.1rem;
}
.sign_cell{
  width: 92%;margin: 0 auto;height: 0.88rem;line-height: 0.88rem;font-size: 0.28rem;
}
.sign_cell p{
  width: 30%;float: left;color: #555555;
}
.sign_cell input{
  height: 0.88rem;width: 70%;text-align: right;float: right;border: none;color: #888888;
}
.f5_line02{
  height: 0.02rem;background: #f5f5f5;width: 92%;margin: 0 auto
}
.f5_line1{
  background: #F5F5F5;
  height: 0.1rem;
  width:  100%;
}
/*新增此刻*/
.addNowBox{
  margin-top: 0.32rem;
}
.msg{
  background: #F5F5F5;
  border-radius: 0.08rem;
  width: 100%;
  font-size: 0.28rem;
  color: #888888;
  line-height: 0.4rem;
  border: none;
  height: 1.6rem;
  padding: 0.2rem;
  margin-bottom: 0.3rem;
}
.cameraBg{
  padding: 0.86rem;
  border-radius: 0.08rem;
  width: 2.1rem;
  height: 2.1rem;
  margin-left: 4%;
  background: #f5f5f5;
}
/*个人首页*/
.startbg{
  background: url('../../../static/images/discover/startbg.png') no-repeat center center;
  background-size: 100% 100%;
  text-align: center;
  position: relative;
}
.startbg .wrapbg{
  text-align: center; width: 100%; margin: 0 auto;padding-top: 1.4rem;
}
.startbg img{
  height: 1.4rem;width: 1.4rem;display: inline-block;border-radius: 50%;
}
.startbg .user_info{
  width: 100%;margin-top: 0.26rem;
}
.bottom_btn_wrap{
  height: 1rem;position: fixed;width: 100%;background: #ffffff;text-align: center;padding: 0.6% 4%;z-index: 3;bottom: 0;
}
.bottom_jgz{
  background: #49BBFF;
  border-radius: 0.08rem;
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.32rem;
  color: #F5F5F5;
  letter-spacing: 1px;
}
.bottom_ygz{
  background: #CCCCCC;
  border-radius: 0.08rem;
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.32rem;
  color: #F5F5F5;
  letter-spacing: 1px;
}
