/*背景图设置*/
.backgroundimage{
  background:#fff;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*所有css消除原有样式*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,img{ margin:0; padding:0;}
img { border:none;}
img{display: block;}
ul,ol { list-style:none;}
a{text-decoration: none;}
/*设置所有元素包含padding  margin;设置所有元基本大小为28px*/
*{
  box-sizing: content-box;
  font-size: 0.28rem;
}
